################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Lab2/bin/Debug
/Lab2/obj/Debug
/ProgramTrading/obj/Debug
/Lab1/obj/Debug
/.vs/ProgramTrading/v15
/ProgramTrading/bin/Debug
